<img src="<%=movie.avatar%>" alt="<%=movie.movie_name%>" height="400" width="500">
<p>
    <%=movie.movie_name%>
</p>
<p>
    Released in the year <%=movie.year%>
</p>
<p>
    The movie has been rated <%=movie.rating%> on IMDB
</p>
<p>
    Storyline: <br>
    <%=movie.description%>
</p>