<li id="post-<%=post.id%>">
    <p>

        <% if(locals.user && locals.user.id == post.user.id) {%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">X</a>
            </small>
        <% } %> 

        <%= post.content%> <br>
        <small>
            <%= post.user.fname %> <%= post.user.lname %> <br>
            <%= post.user.email %>
        </small>

        <small>
            <% if(locals.user){ %>
                <a href="/likes/toggle/?id=<%=post._id%>&type=Post" class="toggle-like-button" data-likes="<%=post.likes.length%>">
                    <%=post.likes.length%> Likes
                </a>
            <%} else {%>
                <%=post.likes.length%> Likes
            <%}%>
            
        </small>
        
        <div id="comment-container">
            <% if(locals.user) { %>
                <form action="/comments/create" method="post" id="post-<%= post._id %>-comments-form">
                    <input type="text" name="content" placeholder="Add a comment..." required>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit"value='Add Comment'>
                </form>
            <% } %>
            <div id="post-comments-list">
        
                <ul id="post-comment-<%=post._id%>">
                    <% for(comment of post.comments) { %>
                        <%- include('_comments') -%>
                    <% } %>
                </ul>
        
             </div>
    
        </div>
        
    </p>                            
</li>