<div>
    Hello <%=token.user.fname%> <%=token.user.lname%>, <br>
    <p>
        Your request for resetting the password of your D-Tox account <%=token.user.email%> has been recieved.
    </p>
    <p>
        Follow the given url to reset your password <br>
        <a href="localhost:8000/resetPassword/<%=token.accessToken%>">localhost:8000/resetPassword/<%=token.accessToken%></a>
    </p>
    <p>
        Thank You!!
    </p>
</div>