<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <main>
            <!-- Data to be sent -->
            <h1>TODO App</h1>
            <form action="/users/sendData" method="post">
                <div id="descrp" class="div-borders hover">
                    <label for="#description">DESCRIPTION</label>
                    <br>
                    <input type="text" id="description" name="description" placeholder="What do you need to do?" class="input-borders"
                    style="width:100%;">
                </div>
                <div id="second-row" class="div-borders">
                    <div id="select" class="hover">
                        <label for="#category">CATEGORY</label>
                        <br>
                        <select name="category" id="category" class="input-borders">
                            <option value="PERSONAL">Personal</option>
                            <option value="SCHOOL">School</option>
                            <option value="WORK">Work</option>
                            <option value="CLEANING">Cleaning</option>
                            <option value="OTHER">Other</option>
                        </select>
                    </div>
                    <div id="due-dates" class="hover">
                        <label for="#date">DUE DATE</label>
                        <br>
                        <input type="date" id="date" name="date" class="input-borders">
                    </div>
                </div>
                <div>
                    <button type="submit" id="add-task"> <i class="fa-sharp fa-solid fa-plus"></i> Add Task</button>
                </div>
            </form>

            <!-- Accessing the sent data from the database -->

            <% for(let data of toDoList) {%>
                <div id="card">
                    <div id="radio">
                        <input type="checkbox" name="<%=data._id%>" value="<%=data._id%>">
                    </div>
                    <div id='descrp-date'>
                        <p style="margin:7px 0px;"> <%= data.description %> </p>
                        <small> <i class="fa-solid fa-calendar"></i> <%= data.date.toDateString() %> </small>
                    </div>
                    <div id='cat'>
                        <button><%= data.category %></button>
                    </div>
                </div>
            <% } %>

            <div id="remove-todo">
                <button>
                    <i class="fa-sharp fa-solid fa-trash"></i>
                    <a href="/removeTask">Remove To-Do</a>
                </button>
            </div>

        </main>

        <script src="/js/home.js"></script>

    </body>
</html>